<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Selenium Sample Tests ">
    <test name = "Juice Shop Test">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="SeleniumTest">
                <methods>
<!--                    <include name="testMultipleLogins"/>-->
<!--                    <include name="testUserNameNotValid"/>-->
<!--                    <include name="testPasswordNotValid"/>-->
<!--                    <include name="testInvalidLogin"/>-->
                    <include name="testUserRegistration"/>
                    <include name="testLoginCredentials"/>
                    <include name="testAddProductsToCart"/>
                    <include name="testProductCheckout"/>
                    <include name="testAddNewAddress"/>
                    <include name="testSelectDeliveryAddress"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>